/* Body */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: #eceff2;
}

body.page-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    background-image: url('../img/fondo.jpg');
    margin: 0px;
    background-position-y: center;
}

body.page-sidebar:before,
body.page-background:before {
    background: rgba(0, 0, 0, 0.4);
    content: "";
    display: block;
    height: 9999px;
    width: 9999px;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
}


/* Formulario */
.form>.control {
    margin-bottom: 25px;
}

.form>.control .input:focus {
    box-shadow: 0 0 2px rgba(53, 64, 79, 0.25);
    background: #e6eaee;
    outline: none;
}

.form>.submit {
    margin-top: 15px;
}

.form>.submit .button {
    color: white;
    font-weight: bold;
    border-radius: 4px;
    display: inline-block;
    padding: 10px 16px;
    letter-spacing: 1px;
    width: auto;
    cursor: pointer;
    transition: all .3s;
    width: 100%;
    background-color: #338ba3;
    box-shadow: 5px 5px 10px #00000033;
    border: 1px solid #338ba3;

}

.form>.submit .button.button-block {
    width: 100%;
}

.form>.submit .button:hover {
    background: #3a7e91;
    outline: none;
    box-shadow: 5px 5px 10px #00000033;
    border: 1px solid #3a7e91;
}


/* Contenedores */
.container-general {
    margin-top: 25vh
}

.container-background {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.container-login {
    width: 100%;
    padding-left: 15%;
    padding-top: 20px;
}

.container-login-body {
    width: 45%;
    max-width: 550px;
}


.input {
    background: #ffffff00 !important;
    border: none;
    color: #E4EAEF;
    width: 100%;
}

.control {
    display: flex;
    border-bottom: 1px solid #E4EAEF;
}

.login-subtitulo {
    font-size: medium;
    color: #E4EAEF;
}

.login-titulo {
    font-size: x-large;
    color: #E4EAEF;
    display: flex;
    margin: 4px 0px;
}

.link-register {
    color: #E4EAEF;
    font-weight: bold;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #E4EAEF;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #E4EAEF;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #E4EAEF;
}

a {
    text-decoration: none;
}

.icon-form {
    height: 40px;
    width: auto
}

.label {
    color: #E4EAEF;
}

.control {
    display: flex;
    border-bottom: 1px solid #E4EAEF;
}